ul.main_menu {
    list-style: none;
    margin-bottom: 30px;
}
ul.main_menu li {
    float: left;
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    background-color: gainsboro;
}
ul.main_menu li a{
    text-decoration: none;
    color : black;
}